/* Create the test CSS here */
<style type="text/css">
.box1{
  background-color:green
    color:white
    border:10px blue}
    body {
  background-color:yellow ;
}

h1 {
 text-align: center;
}

p {
  font-family: verdana;
  font-size: 23px;
}
  


}
  </style>  
